*{
	margin:0;
	padding:0;
	text-decoration: none;
}
/*设置背景颜色*/
body{
	background:#F8F8F8;
	font-family: Arial, Helvetica, sans-serif;
	min-width: 333px; 
	width: expression_r( document.body.clientWidth < 334 ? "333px" : "auto" );
}

.p_top{
	position:relative;
}
/*天气信息*/
.weather{
	width:150px;
	height:35px;
	display:inline-block;
	padding-top:5px;
	position: relative;
}
/*图片*/
 .weather-img{
	display:inline-block;
	margin-left:10px;
}
/*数字*/
 .weather-num{
	font-size: 29px;
    color: #999;
    padding-left: 4px;
    padding-right: 3px;
    font-weight: 300;
	position:absolute;
	display:inline-block;
	float:left;
}
/*文字*/
.weather-text{
	position:absolute;
	display:inline-block;
	float:left;
	padding-left: 32px;
	padding-top:2px;
}
.weather-text p{
	height: 14px;
    line-height: 14px;
    font-size: 10px;
    color: #999;
}
/*右边登录*/
.loginInfo{
	
	width:40px;
	height:25px;
	display:inline-block;
	position: relative;
	float: right;
	top: -3px;
}
.loginInfo img{
	width:25px;
	height:25px;
	padding-top: 8px;
    right: 10px;
}
/*向下小图标*/
.icon-down{
	width: 5px;
	height: 5px;
	border-top: 1px solid #c1c1c1;
	border-left: 1px solid #c1c1c1;
	display: inline-block;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);

	margin-left: 88px;
	margin-bottom: 4px;
}

/*logo*/
.p_img
{	
	height: 57px;
    padding-bottom: 17px;
	text-align:center;
	position: relative;
}

/*搜索表单*/
.kw-form{
	/*margin: 0 16px;
	height: 45px;
	background: #fff;
	border: 1px solid #d2d2d2;
	-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, .03);
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, .03);
	-webkit-border-radius: 2px;
	border-radius: 2px;
	position: relative;
	width:100%;*/
}
/*搜索框部分*/
.search{
	position: relative;
	padding-left: 15px;
}
.search-text{
	width: 89%;
	position: absolute;
	float:left;
}
.search-input{
	border-radius: 0;
    margin: 0;
    height: 41px;
    line-height: 28px;
    resize: none;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    position: absolute;
    width: 89%;
}

/*搜索按钮*/
.search-btn{
	width: 11%;
	position: absolute;
	/*right: 0;
	margin-right: 56px;*/
	float:left;
	margin-left: 79%;
}
#index-bn{
	position: absolute;
	/*top: -1px;
	right: -1px;*/
	width: 82px;
	height: 43px;
	background: #38f;
	color: #fff;
	line-height: 45px;
	letter-spacing: -1px;
	font-size: 16px;
	border-top: 1px solid #38f;
	border-bottom: 1px solid #38f;
	box-sizing: inherit;
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;
	text-shadow: none;
}
/*搜索框下面的小图标*/
.search-icon{
	margin-top: 42px;
	padding-bottom: 25px;
}
#navs{
	overflow: hidden;
	position: relative;
	padding-top: 19px;
	padding-left: 15px;
    padding-right: 20px;
}
.ns-text{
	height: 13px;
	text-align: center;
	padding-top: 8px;
	font-size: 13px;
	line-height: 1;
	color: #999;
}

nav a{
	width: 15%;
	height: 35px;
	display: inline-block;
}
nav a span{
	width: 26px;
	height: 35px;
	display: inline-block;
}

i.ns-focus, i.ns-news, i.ns-novel, i.ns-video, i.ns-life, i.ns-map, i.ns-tieba, i.ns-app, i.ns-image, i.ns-website, i.ns-extend, i.ns-music {
background: url(../image/ns_diff_color_v2_5abf864a.png) no-repeat;
background-size: 22px auto;
}


/*关注*/
.ns-focus{
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: 0 auto;
	margin-left: 2px;
}
/*新闻*/
.ns-news{
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: 0 auto;
	margin-left: 2px;
}
/*小说*/
.ns-novel{
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: 0 auto;
	margin-left: 2px;
}
/*视频*/
.ns-video{
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: 0 auto;
	margin-left: 2px;
}
/*糯米*/
.ns-life{
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: 0 auto;
	margin-left: 2px;
}
/*地图*/
.ns-map{
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: 0 auto;
	margin-left: 2px;
}

i.ns-focus {
background-position: 0 -264px;
}
i.ns-news {
background-position: 0 -396px;
}
i.ns-novel {
background-position: 0 -330px;
}
i.ns-video {
background-position: 0 -462px;
}
i.ns-life {
background-position: 0 -418px;
}
i.ns-map {
background-position: 0 -308px;
}


/*新闻部分*/
.new1{
	border-top: 1px solid #f0f0f0;
	padding-top: 15px;
	padding-bottom: 10px;
}
.new_list{
	background:#FFF;
	padding-left: 15px;
	padding-right: 15px;
}
.text-content{
	margin-bottom: 3px;
}
.text-content h2{
	font-weight: normal;
    color: #333;
    font-size: 18px;
    line-height: 26px;
}
.img-wrap{
    display: inline-block;
	width: 32.105%;
	height: 0;
	padding-top: 21.99%;
	position: relative;
	vertical-align: top;
}
.img-wrap img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
/*新闻来源 图片下的小字*/
.news-from{
	margin-top: 9px;
	line-height: 12px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-align-items: center;
}

.news-from span{
	margin-right: 8px;
	font-size: 13px;
	color: #999;
	display: inline-block;
	line-height: 12px;
}

/*热点*/
.news-from .hot-icon span{
	color: #f13f40 !important;
}

.hot-icon{
	border: 1px solid #efb9b9;
	box-sizing: border-box;
	padding: 1px 2px 0 2px;
	border-radius: 2px;
	margin-bottom: 1px;
}

/*对PC端和手机端进行显示调整*/
@media only screen and (min-width:900px) 
{
	#pc{
		display: block;
		background:#FFF;
	}
	#mobile{
		display: none;
	}
}
@media only screen and (max-width:900px) 
{
	#pc{
		display: none;
	}
	#mobile{
		display: block;
	}
}



@media only screen and (min-width:300px) and (max-width:359px) 
{
	.search{
		width:80%;
	}
	.search-input{
		width:80%;
	}
	.search-btn{
		margin-left: 72%;
	}
}
@media only screen and (min-width:360px) and (max-width:374px) 
{
	.search{
		width:85%;
	}
	.search-input{
		width:85%;
	}
	.search-btn{
		margin-left: 76%;
	}
}
@media only screen and (min-width:375px) and (max-width:383px) 
{
	.search{
		width:87%;
	}
	.search-input{
		width:87%;
	}
	.search-btn{
		margin-left: 78%;
	}
}

@media only screen and (min-width:384px) and (max-width:412px) 
{
	.search{
		width:86%;
	}
	.search-input{
		width:86%;
	}
	.search-btn{
		margin-left: 77%;
	}
}
@media only screen and (min-width:413px) and (max-width:420px) 
{
	.search{
		width:85%;
	}
	.search-input{
		width:85%;
	}
	.search-btn{
		margin-left: 76%;
	}
}
@media only screen and (min-width:421px) and (max-width:700px) 
{
	.search{
		width:88%;
	}
	.search-input{
		width:88%;
	}
	.search-btn{
		margin-left: 79%;
	}
}
@media only screen and (min-width:700px) and (max-width:900px) 
{
	.search{
		width:94%;
	}
	.search-input{
		width:94%;
	}
	.search-btn{
		margin-left: 84%;
	}
}