* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
}

[class*="col-"] {
    margin-top: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #F8F8F8;
    border: 1px solid #ddd;
}

.login-info h2 {
    text-align: center;
}
